<header>
  <div class="top-bar">
    <div class="logo">
      <h1>CAR REPAIR</h1>
    </div>
    <div class="contact-info">
      <p>Appelez aujourd'hui : 034 62 581 54</p>
      <p>Heures d'ouverture : Lun-Ven : 9h-18h ; Dim : 10h-13h</p>
    </div>
    <div class="auth-buttons">
      <button class="btn btn-signup" (click)="signIn()" >S'inscrire</button>
      <button class="btn btn-login" (click)="logIn()">Se connecter</button>
    </div>
  </div>
  <nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item"><a href="#home">HOME</a></li>
      <li class="nav-item"><a href="#about">ABOUT</a></li>
      <li class="nav-item dropdown">
        <a id="services"(click)="goToServicePage()">SERVICES</a>
        <ul class="dropdown-content">
          <li><a href="#service1">Service 1</a></li>
          <li><a href="#service2">Service 2</a></li>
          <li><a href="#service3">Service 3</a></li>
        </ul>
      </li>
      <li class="nav-item"><a href="#blog">BLOG</a></li>
      <li class="nav-item"><a href="#contact">CONTACT US</a></li>
    </ul>
    <div class="search-icon">
      <input type="text" placeholder="Search...">
      <i class="fas fa-search"></i>
    </div>

  </nav>

</header>
