<!-- <app-header></app-header> -->


    <div class="navigation ">
        <nav class="navbar">
            <div class="container">
                <ul class="nav-list">
                  <li class="nav-item"><a href="#home">HOME</a></li>
                  <li class="nav-item"><a href="#about">ABOUT</a></li>
                  <li class="nav-item dropdown"><a href="">SERVICES</a></li>
                  <li class="nav-item"><a href="#blog">BLOG</a></li>
                  <li class="nav-item"><a href="#contact">CONTACT US</a></li>
                </ul>
            </div>
        </nav>
        <div class="main-container">
            <app-service-list></app-service-list>
        </div>
    </div>
        
<app-footer></app-footer>
